<div class="container">
  <%= link_to "Back to Home", cocktails_path, class: "btn btn-light mt-3" %>
  <h1>New Cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, label: "Name of Cocktail: " %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
